:root {
	--main-color: #071349;
	--sky-color: #027CD0;
	--sky-color-hvr: #006DB8;
	--bg-color: #0C1B5A;
	--main-font: 'Poppins', sans-serif
}
body {
	background-color: var(--main-color);
	font-family: var(--main-font);
	color: #fff;
	overflow-x: hidden
}
.relative {
	position: relative
}
.absolute {
	position: absolute
}
.text-right {
	text-align: right
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
.hidden {
	display: none
}
.mt-9 {
	margin-top: 90px
}
.main-header .navbar {
	padding: 15px 0
}
.main-header .navbar-brand {
	margin-right: 40px
}
.main-header .navbar-brand img {
	height: 60px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.main-header .navbar-brand img:hover {
	opacity: .8
}
.main-header .navbar-nav>li {
	margin-right: 20px
}
.main-header .navbar-nav>li.dropdown {
	margin-right: 37px
}
.main-header .navbar-nav>li:last-child {
	margin-right: 0
}
.main-header .navbar-nav>li>a {
	color: #fff;
	font-size: 15px;
	padding: 0;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.main-header .navbar-nav>li>a.dropdown-toggle::after {
	content: '';
	background: url(../img/icons/chevron-down.svg) no-repeat;
	border: 0;
	height: 13px;
	width: 10px;
	-webkit-filter: invert(1);
	filter: invert(1);
	position: absolute;
	top: 6px;
	right: -10px
}
.main-header .navbar-nav>li>a:hover {
	opacity: .8
}
.main-header .navbar-nav>li .dropdown-menu {
	padding: 0
}
.main-header .navbar-nav>li .dropdown-menu li a {
	padding: 7px 15px;
	font-size: 14px
}
.main-header .navbar-nav>li .dropdown-menu li a.dropdown-item.active,
.main-header .navbar-nav>li .dropdown-menu li a.dropdown-item:active {
	background: 0 0;
	color: var(--sky-color)
}
.main-header .btns a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 8px 25px;
	border-radius: 2px;
	font-weight: 500;
	border: 1px solid var(--sky-color);
	display: inline-block
}
.main-header .btns a.billing-btn {
	background-color: var(--sky-color)
}
.main-header .btns a.billing-btn:hover {
	background-color: var(--sky-color-hvr)
}
.main-header .btns a.panel-btn {
	margin-left: 10px
}
.main-header .btns a.panel-btn:hover {
	background-color: var(--sky-color-hvr)
}
.hero-sections {
	background: url(../img/header-bg.webp) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-top: -101px;
	padding-top: 135px
}
.hero-sections .info {
	padding-right: 40px
}
.hero-sections .info .offer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 14px;
	margin-bottom: 40px
}
.hero-sections .info .offer .trend {
	background-color: var(--sky-color);
	color: #fff;
	padding: 7px 15px;
	border-radius: 2px;
	font-weight: 500
}
.hero-sections .info .offer .trend img {
	-webkit-filter: invert(1);
	filter: invert(1);
	height: 16px;
	margin-right: 5px
}
.hero-sections .info .offer .text {
	margin-left: 15px
}
.hero-sections .info .offer .text a {
	border-bottom: 1px dashed #fff;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500
}
.hero-sections .info .content h5 {
	margin: 0;
	font-size: 18px;
	font-weight: 400
}
.hero-sections .info .content h1 {
	font-size: 60px;
	margin: 25px 0;
	font-weight: 700;
	line-height: 65px
}
.hero-sections .info .content p {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	width: 80%
}
.hero-sections .info .content a {
	background-color: var(--sky-color);
	color: #fff;
	text-decoration: none;
	padding: 13px 40px;
	border-radius: 2px;
	display: table;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 500;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin-bottom: 60px
}
.hero-sections .info .content a:hover {
	background-color: var(--sky-color-hvr)
}
.hero-sections .main-hero {
	max-width: 100%;
	padding-left: 40px;
	margin-right: -30px
}
.border-top-img {
	width: 100%
}
.head-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px
}
.head-title .info h3 {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	opacity: .7
}
.head-title .info h2 {
	font-weight: 400;
	margin: 7px 0 0;
	font-size: 30px;
	font-weight: 700
}
.head-title>a {
	color: #fff;
	margin-left: auto;
	text-decoration: none;
	opacity: .7;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.head-title>a:hover {
	color: var(--sky-color)
}
.popular-plans {
	margin-top: 60px
}
.popular-plans .content {
	margin-top: 40px;
	display: inline-block;
	width: 100%
}
.popular-plans .content .item {
	background-color: var(--bg-color);
	border: 1px solid var(--bg-color);
	border-radius: 2px;
	position: relative;
	padding: 30px 20px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.popular-plans .content .item.custom {
	background-color: var(--sky-color)
}
.popular-plans .content .item:hover {
	border: 1px dashed var(--sky-color)
}
.popular-plans .content .item:hover img.tier {
	top: -60px
}
.popular-plans .content .item img.tier {
	position: absolute;
	top: -50px;
	right: 20px;
	height: 120px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.popular-plans .content .item h3 {
	margin: 0;
	font-size: 21px;
	font-weight: 400
}
.popular-plans .content .item h2 {
	font-size: 46px;
	font-weight: 700;
	margin: 2px 0 0
}
.popular-plans .content .item h2 span {
	font-size: 14px;
	font-weight: 400
}
.popular-plans .content .item .yearly-price {
	display: none
}
.popular-plans .content .item a.order {
	float: right;
	margin-top: -30px;
	background-color: var(--sky-color);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.popular-plans .content .item a.order:hover {
	background-color: var(--sky-color-hvr)
}
.popular-plans .content .item a.order img {
	height: 13px;
	-webkit-filter: invert(1);
	filter: invert(1)
}
.popular-plans .content .item .features-list {
	margin: 20px 0;
	padding: 0;
	list-style: none
}
.popular-plans .content .item .features-list li {
	margin-bottom: 10px;
	opacity: .8;
	font-size: 15px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.popular-plans .content .item .features-list li:hover {
	opacity: 1
}
.popular-plans .content .item .features-list li:last-child {
	margin-bottom: 0
}
.popular-plans .content .item .features-list li.sp-cpu.sp-premium {
	display: none
}
.popular-plans .content .item a.order-btn-custom {
	background-color: #fff;
	border: 0;
	color: var(--main-color);
	cursor: pointer;
	padding: 14px;
	width: 100%;
	border-radius: 2px;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 20px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-top: 40px
}
.popular-plans .content .item a.order-btn-custom:hover {
	background-color: var(--sky-color-hvr);
	color: #fff
}
.popular-plans .content .item .plan-order {
	background-color: var(--sky-color);
	border: 0;
	color: #fff;
	cursor: pointer;
	padding: 14px;
	width: 100%;
	border-radius: 2px;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	display: block;
	text-align: center;
	margin-top: 40px;
	text-decoration: none
}
.popular-plans .content .item .plan-order:hover {
	background-color: var(--sky-color-hvr)
}
.popular-plans .content .item button.select-locations-btn {
	background-color: var(--sky-color);
	border: 0;
	color: #fff;
	cursor: pointer;
	padding: 14px;
	width: 100%;
	border-radius: 2px;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 20px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.popular-plans .content .item button.select-locations-btn:hover {
	background-color: var(--sky-color-hvr)
}
.features {
	margin-top: 60px;
	margin-bottom: 60px
}
.features .content .col-md-4:first-child .item {
	padding-right: 50px
}
.features .content .col-md-4:nth-child(2) .item {
	padding-right: 25px;
	padding-left: 25px
}
.features .content .col-md-4:last-child .item {
	padding-left: 50px
}
.features .content .item {
	background-color: transparent;
	border: 0;
	text-decoration: none;
	color: #fff;
	padding: 0;
	text-align: left;
	display: block
}
.features .content .item .flex {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.features .content .item img {
	height: 70px;
	margin-right: 20px
}
.features .content .item h3 {
	font-weight: 500;
	font-size: 22px;
	margin: 0;
	line-height: 30px;
	word-break: break-word
}
.features .content .item p {
	opacity: .7;
	line-height: 24px;
	font-size: 15px;
	margin: 20px 0 0;
	font-weight: 400
}
.panel {
	background: url(../img/wisp-bg.webp) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 70px 0
}
.panel .custom-heading h2 {
	margin: 30px 0;
	text-align: center;
	font-weight: 700;
	font-size: 30px
}
.panel .tabs {
	margin-bottom: 50px
}
.panel .tabs .nav {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.panel .tabs .nav .nav-item .nav-link {
	color: #fff;
	font-weight: 400;
	font-size: 16px
}
.panel .tabs .nav .nav-item .nav-link.active {
	background: url(../img/active-tab.webp) no-repeat;
	background-size: contain;
	background-position: 50% 50%
}
.panel .tabs .tab-content {
	padding-top: 60px
}
.panel .tabs .tab-content .info {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-right: 60px
}
.panel .tabs .tab-content .info h2 {
	margin: 0;
	font-size: 26px;
	font-weight: 700
}
.panel .tabs .tab-content .info p {
	margin: 13px 0 0;
	opacity: .8;
	font-weight: 400;
	width: 70%
}
.panel .tabs .tab-content .main-panel {
	padding-left: 60px;
	max-width: 100%
}
.top-border-panel {
	width: 100%;
	margin-bottom: -96px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
.bottom-border-panel {
	width: 100%;
	margin-top: -96px
}
.locations {
	margin-top: 60px
}
.locations .filter-locations-items {
	margin: 20px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.locations .filter-locations-items .type {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 30px
}
.locations .filter-locations-items .type:last-child {
	margin-right: 0
}
.locations .filter-locations-items .type .circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #3bafff;
	margin-right: 9px;
	display: inline-block
}
.locations .filter-locations-items .type b {
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase
}
.locations .filter-locations-items .type.type2 .circle {
	background-color: #aa7bda
}
.locations .content {
	margin-top: 40px
}
.locations .content #chartdiv {
	width: 100%;
	height: 500px;
	overflow: hidden
}
.hosting-types {
	margin-top: 60px;
	margin-bottom: 60px
}
.hosting-types .content .item {
	background-color: var(--bg-color);
	border-radius: 2px;
	padding: 35px 20px;
	color: #fff
}
.hosting-types .content .item .flex {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.hosting-types .content .item a {
	color: inherit;
	text-decoration: none
}
.hosting-types .content .item a h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 400
}
.hosting-types .content .item a h2 {
	font-size: 30px;
	margin: 4px 0 0;
	font-weight: 700
}
.hosting-types .content .item .icon {
	margin-left: auto;
	height: 65px
}
.hosting-types .content .col-md-4:first-child .item {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#009efd), to(#2af598));
	background-image: linear-gradient(0deg, #009efd 0, #2af598 100%)
}
.hosting-types .content .col-md-4:nth-child(2) .item {
	background-image: linear-gradient(225deg, #32c5ff 0, #b620e0 51%, #f7b500 100%)
}
.hosting-types .content .col-md-4:last-child .item {
	background-image: -webkit-gradient(linear, left top, right top, from(#495aff), to(#0acffe));
	background-image: linear-gradient(90deg, #495aff 0, #0acffe 100%)
}
.main-footer {
	background: url(../img/footer-bg.webp) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0
}
.main-footer .links h3 {
	font-size: 25px;
	margin: 0 0 25px 0;
	font-weight: 500
}
.main-footer .links ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.main-footer .links ul li {
	margin-bottom: 7px
}
.main-footer .links ul li:last-child {
	margin-bottom: 0
}
.main-footer .links ul li a {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	opacity: .8;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.main-footer .links ul li a:hover {
	opacity: 1
}
.main-footer .company {
	background: url(../img/company.webp) no-repeat;
	background-size: contain;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	padding: 20px 0;
	padding-bottom: 60px
}
.main-footer .company .brand {
	margin-left: -40px
}
.main-footer .company .brand img {
	height: 35px
}
.main-footer .company ul.socialmedia {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
	margin: 15px 0;
	padding: 0;
	margin-left: -40px
}
.main-footer .company ul.socialmedia li a {
	margin: 0 10px
}
.main-footer .company ul.socialmedia li a:hover img {
	opacity: .7
}
.main-footer .company ul.socialmedia li a img {
	height: 15px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.main-footer .company .payments {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: -40px
}
.main-footer .company .payments li {
	margin: 0 5px
}
.main-footer .company .payments li img {
	height: 25px;
	-webkit-filter: invert(1);
	filter: invert(1);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.main-footer .company .payments li img:hover {
	opacity: .7
}
.main-footer .copyrights {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	margin-top: 30px
}
.domain-box {
	background-color: var(--bg-color);
	border-radius: 2px;
	padding: 50px 30px;
	text-align: center;
	margin: 60px 0
}
.domain-box>h2 {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 35px 0
}
.domain-box form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 70%;
	margin: 0 auto
}
.domain-box form input[type=text] {
	width: calc(100% - 150px);
	background-color: #fff;
	border-radius: 2px;
	margin-right: 10px;
	border: 0;
	padding: 14px 15px;
	font-size: 15px
}
.domain-box form input[type=text]:focus {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.domain-box form input[type=submit] {
	background-color: var(--sky-color);
	color: #fff;
	padding: 14px 35px;
	border-radius: 2px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border: 0;
	text-transform: uppercase
}
.domain-box form input[type=submit]:focus,
.domain-box form input[type=submit]:hover {
	background-color: var(--sky-color-hvr)
}
.domain-box .tlds {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 30px
}
.domain-box .tlds .tld {
	margin: 0 6px;
	border: 1px dashed var(--sky-color);
	padding: 10px;
	border-radius: 2px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.domain-box .tlds .tld:hover {
	background-color: var(--sky-color)
}
.about-blocks {
	margin-top: 60px
}
.about-blocks .about-item {
	border: 1px dashed var(--sky-color);
	padding: 30px;
	border-radius: 2px;
	height: 100%
}
.about-blocks .about-item h3 {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 25px 0
}
.about-blocks .about-item p {
	font-size: 15px;
	line-height: 26px;
	margin: 0 0 20px 0
}
.about-blocks .about-item p:last-of-type {
	margin: 0
}
.about-blocks .about-item.item-popular {
	background-color: var(--sky-color)
}
.rules {
	margin-top: 60px
}
.rules .rule {
	margin-bottom: 30px;
	border-bottom: 3px dashed var(--bg-color);
	padding-bottom: 30px
}
.rules .rule h3 {
	font-weight: 700;
	font-size: 25px;
	margin: 0 0 15px 0
}
.rules .rule p {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	opacity: .8
}
.rules .rule p:last-of-type {
	margin-bottom: 0
}
.rules .rule a {
	color: var(--sky-color);
	text-decoration: none
}
.rules .rule ol {
	margin: 10px;
	padding: 0 0 0 30px
}
.rules .rule ol li {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	opacity: .8
}
.rules .rule ul {
	margin: 10px;
	padding: 0 0 0 30px
}
.rules .rule ul li {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	opacity: .8
}
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 700px;
		margin: 1.75rem auto
	}
}
.modal-title {
	color: var(--main-color)
}
.location-head-type {
	color: var(--sky-color);
	font-size: 16px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 25px
}
.btn-close:focus {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.modal-body .locations {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.modal-body .locations .location {
	background-color: #f8f8f8;
	width: calc(100% / 3 - 20px);
	text-decoration: none;
	margin: 0 10px;
	margin-bottom: 20px;
	border: 1px solid #eee;
	text-align: center;
	padding: 20px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	position: relative
}
.modal-body .locations .location:hover {
	border-color: var(--sky-color)
}
.modal-body .locations .location img {
	height: 35px
}
.modal-body .locations .location span {
	display: block;
	color: var(--main-color);
	font-size: 16px;
	font-weight: 500
}
.modal-body .locations .location small {
	display: block;
	font-size: 14px;
	color: var(--sky-color)
}
.modal-body .locations.standard-type>.location:before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #aa7bda
}
.modal-body .locations.premium-type>.location:before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #3bafff
}
.btns-pricing {
	display: table;
	background-color: var(--bg-color);
	margin: -10px auto 100px;
	padding: 5px;
	border-radius: 2px
}
.btns-pricing span {
	cursor: pointer;
	padding: 7px 15px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block
}
.btns-pricing span.active-btn {
	background-color: var(--sky-color)
}
.faq-block {
	margin-top: 60px;
	margin-bottom: 60px
}
.faq-block .content .accordion-item {
	background-color: var(--bg-color);
	margin-bottom: 20px
}
.faq-block .content .accordion-item .accordion-button {
	background-color: transparent;
	color: #fff;
	font-size: 16px;
	font-weight: 400
}
.faq-block .content .accordion-item .accordion-button:focus {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.faq-block .content .accordion-item .accordion-button:after {
	-webkit-filter: invert(1) grayscale(1);
	filter: invert(1) grayscale(1)
}
.faq-block .content .accordion-item .accordion-body {
	font-size: 14px;
	line-height: 27px;
	font-weight: 400
}
.faq-block .content .accordion-item .accordion-body a {
	text-decoration: none;
	color: var(--sky-color)
}
.call-to-action {
	background-color: var(--bg-color);
	border-radius: 2px;
	padding: 50px 30px;
	text-align: center;
	margin: 60px 0
}
.call-to-action>h2 {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 45px 0
}
.call-to-action>p {
	font-size: 15px;
	line-height: 26px;
	margin: 0 0 20px 0
}
.call-to-action>a {
	background-color: var(--sky-color);
	color: #fff;
	text-decoration: none;
	padding: 14px 35px;
	border-radius: 2px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.call-to-action>a:hover {
	background-color: var(--sky-color-hvr)
}
.trustpilot-reviews-block {
	margin-top: 60px
}
.trustpilot-reviews-block .content .Foundation__Inner-sc-11tbro4-1 {
	max-width: 100%
}
.trustpilot-reviews-block .content .Foundation__Outer-sc-11tbro4-0 {
	width: 100%;
	padding: 0;
	margin: 0
}
.trustpilot-reviews-block .content .Foundation__Outer-sc-11tbro4-0 .Header__WidgetTitle-sc-17gc7x6-2 {
	display: none
}
.trustpilot-reviews-block .content .Foundation__Outer-sc-11tbro4-0 .Header__Container-sc-17gc7x6-1 {
	background-color: var(--bg-color);
	border-radius: 2px
}
.trustpilot-reviews-block .content .Foundation__Outer-sc-11tbro4-0 a.WriteAReviewButton__Button-sc-55ha4u-1 {
	border-radius: 2px;
	color: #fff
}
.trustpilot-reviews-block .content .Classic__ClassicContainer-sc-19u56uy-0 {
	background-color: var(--bg-color);
	border-radius: 2px
}
.jobs-block {
	margin-top: 60px
}
.jobs-block .content .accordion-item {
	background-color: var(--bg-color);
	margin-bottom: 20px
}
.jobs-block .content .accordion-item .accordion-button {
	background-color: transparent;
	color: #fff;
	font-size: 16px;
	font-weight: 400
}
.jobs-block .content .accordion-item .accordion-button:focus {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.jobs-block .content .accordion-item .accordion-button:after {
	-webkit-filter: invert(1) grayscale(1);
	filter: invert(1) grayscale(1)
}
.jobs-block .content .accordion-item .accordion-body {
	font-size: 14px;
	line-height: 27px;
	font-weight: 400
}
.jobs-block .content .accordion-item .accordion-body a {
	text-decoration: none;
	color: var(--sky-color)
}
.jobs-block .content .job-details ul {
	margin: 20px 0;
	padding: 0 0 0 30px
}
.jobs-block .content .job-details .main-title-block {
	border: 1px dashed var(--sky-color);
	padding: 10px 20px;
	border-radius: 2px;
	display: table;
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 20px
}
.jobs-block .content .job-details .apply-btn {
	display: block;
	background-color: var(--sky-color);
	padding: 14px 30px;
	border-radius: 2px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	color: #fff!important;
	text-align: center;
	text-decoration: none
}
.jobs-block .content .job-details .apply-btn:hover {
	background-color: var(--sky-color-hvr)
}
.mapael .map {
	position: relative
}
.mapael .mapTooltip {
	position: absolute;
	background-color: #fff;
	opacity: .7;
	border-radius: 10px;
	padding: 10px;
	z-index: 1000;
	max-width: 200px;
	display: none;
	color: #343434
}
@media screen and (max-width: 991.98px) {
	.navbar-toggler {
		padding: 0
	}
	.navbar-toggler:focus {
		-webkit-box-shadow: none;
		box-shadow: none
	}
	.navbar-toggler .navbar-toggler-icon {
		width: auto;
		height: auto
	}
	.navbar-toggler .navbar-toggler-icon img {
		height: 20px
	}
	.navbar-collapse {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: var(--bg-color);
		z-index: 9
	}
	.navbar-collapse .navbar-nav>li {
		margin-right: 0;
		border-bottom: 1px solid #192c7e
	}
	.navbar-collapse .navbar-nav>li.dropdown {
		margin-right: 0
	}
	.navbar-collapse .navbar-nav>li.dropdown a.dropdown-toggle:after {
		top: 16px;
		right: 13px
	}
	.navbar-collapse .navbar-nav>li>a {
		padding: 10px 15px
	}
	.navbar-collapse .dropdown-menu {
		background-color: #14256e
	}
	.navbar-collapse .dropdown-menu a {
		color: #fff
	}
	.navbar-collapse .dropdown-menu a:focus,
	.navbar-collapse .dropdown-menu a:hover {
		background-color: transparent
	}
	.navbar-collapse .btns {
		padding: 15px;
		padding-top: 5px
	}
}
@media screen and (max-width: 767.98px) {
	.hero-sections {
		padding-top: 95px
	}
	.hero-sections .info {
		padding-right: 0
	}
	.hero-sections .info .content h2 {
		font-size: 40px;
		line-height: 39px
	}
	.hero-sections .info .content p {
		width: 100%
	}
	.hero-sections .info .offer .trend {
		text-align: center
	}
	.hero-sections .main-hero {
		padding-left: 0;
		margin-right: 0
	}
	.head-title .info h2 {
		font-size: 20px
	}
	.popular-plans .content .col-md-4 .item {
		margin-bottom: 90px
	}
	.popular-plans .content .col-md-4:last-child .item {
		margin-bottom: 0
	}
	.features .content .item {
		padding: 0!important;
		margin-bottom: 40px
	}
	.features .content .mb-5 {
		margin-bottom: 0!important
	}
	.panel .tabs .tab-content .info {
		position: static;
		-webkit-transform: initial;
		transform: initial;
		padding-right: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 30px
	}
	.panel .tabs .tab-content .info p {
		width: 100%
	}
	.panel .tabs .tab-content .main-panel {
		padding-left: 0
	}
	.top-border-panel {
		margin-bottom: -36px
	}
	.bottom-border-panel {
		margin-top: -36px
	}
	.panel {
		padding: 30px 0
	}
	.locations .content #chartdiv {
		height: auto
	}
	.hosting-types .content .item {
		margin-bottom: 30px
	}
	.hosting-types .content .col-md-4:last-child .item {
		margin-bottom: 0
	}
	.main-footer {
		padding: 40px 0
	}
	.main-footer .links {
		margin-bottom: 40px
	}
	.main-footer .company .brand,
	.main-footer .company .payments,
	.main-footer .company ul.socialmedia {
		margin-left: -100px
	}
	.domain-box {
		padding: 50px 15px
	}
	.domain-box>h2 {
		font-size: 20px
	}
	.domain-box form {
		width: 100%
	}
	.about-blocks .col-md-6 {
		margin-bottom: 30px
	}
}
@media screen and (min-width: 767.98px) and (max-width: 991.98px) {
	.hero-sections .info {
		padding-right: 0
	}
	.hero-sections .info .content h2 {
		font-size: 40px;
		line-height: 43px
	}
	.hero-sections .info .content p {
		width: 100%
	}
	.hero-sections .main-hero {
		max-width: 100%;
		padding-left: 0;
		margin-right: 0;
		margin-top: 100px
	}
	.top-border-panel {
		margin-bottom: -56px
	}
	.features .content .item h3 {
		font-size: 14px;
		line-height: 19px
	}
	.features .content .item img {
		height: 50px;
		margin-right: 10px
	}
	.popular-plans .content .item img.tier {
		height: 90px
	}
	.panel .tabs .tab-content .info p {
		width: 100%
	}
	.bottom-border-panel {
		margin-top: -56px
	}
	.locations .content #chartdiv {
		height: auto
	}
	.hosting-types .content .item .icon {
		height: 35px
	}
	.hosting-types .content .item a h3 {
		font-size: 14px
	}
	.hosting-types .content .item a h2 {
		font-size: 25px
	}
	.main-footer {
		padding: 60px 0
	}
}
@media screen and (min-width: 991.98px) and (max-width: 1199.98px) {
	.top-border-panel {
		margin-bottom: -56px
	}
	.bottom-border-panel {
		margin-top: -56px
	}
	.panel .tabs .tab-content .info p {
		width: 100%
	}
	.main-header .navbar-brand {
		margin-right: 10px
	}
	.main-header .navbar-nav>li {
		margin-right: 10px
	}
	.main-header .btns a {
		padding: 8px 15px
	}
}
@media screen and (min-width: 1199.98px) and (max-width: 1399.98px) {
	.top-border-panel {
		margin-bottom: -56px
	}
	.bottom-border-panel {
		margin-top: -56px
	}
}
.team {
	background: 0 0
}
.team .item {
	background-color: var(--bg-color);
	border-radius: 4px;
	border: 1px dashed var(--sky-color);
	overflow: hidden;
	-webkit-transition: all .3s;
	transition: all .3s;
	margin-bottom: 30px
}
.team .item>img {
	width: 100%;
	height: 200px;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.team .item>img:hover {
	opacity: .6
}
.team .item .info-member {
	padding: 30px
}
.team .item .info-member .name {
	margin: 0;
	font-size: 20px;
	font-weight: 700
}
.team .item .info-member .role {
	opacity: .6;
	font-size: 15px;
	margin: 10px 0 0;
	font-weight: 400
}
.team .item .info-member p.desc {
	opacity: .6;
	margin: 10px 0 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400
}
.team .item .info-member ul.social {
	margin: 15px 0 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
.team .item .info-member ul.social li {
	margin-right: 20px
}
.team .item .info-member ul.social li:last-child {
	margin-right: 0
}
.team .item .info-member ul.social li a img {
	height: 15px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.team .item .info-member ul.social li a img:hover {
	opacity: .6
}
.team .item:hover>img {
	opacity: .6
}
.team .apply-job {
	background-color: var(--sky-color);
	color: #fff;
	text-decoration: none;
	padding: 14px 35px;
	border-radius: 4px;
	margin: 0 auto;
	display: table;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.team .apply-job:hover {
	background-color: var(--sky-color-hvr)
}
.server-types {
	margin-top: 60px
}
.server-types .head-title {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
@media screen and (max-width: 767px) {
	.server-types .items .item {
		margin: 30px 0
	}
}
@media screen and (min-width: 1024px) {
	.server-types .items .row {
		margin-bottom: 50px
	}
	.server-types .items .row:last-child {
		margin-bottom: 0
	}
	.server-types .items .col-md-4:first-child .item {
		padding-right: 50px
	}
	.server-types .items .col-md-4:last-child .item {
		padding-left: 50px
	}
	.server-types .items .col-md-4:nth-child(2) .item {
		padding: 0 25px
	}
}
.server-types .items .item .brand-wrap {
	height: 65px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-o-object-fit: contain;
	object-fit: contain
}
.server-types .items .item .brand-server {
	max-height: 100%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.server-types .items .item .brand-server:hover {
	opacity: .6
}
.server-types .items .item h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 25px 0
}
.server-types .items .item h4 {
	font-size: 16px;
	margin: 0 0 10px 0
}
.server-types .items .item p {
	opacity: .7;
	font-size: 15px;
	line-height: 23px;
	margin: 0
}
.server-types .items .item .details-server {
	margin-top: 15px
}
.server-types .items .item .details-server .website img {
	height: 15px;
	margin-right: 5px
}
.server-types .items .item .details-server .website a {
	opacity: .6;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.server-types .items .item .details-server .website a:hover {
	opacity: 1
}
.server-types .items .item .details-server .versions-dropdown {
	margin-left: auto
}
.server-types .items .item .details-server .versions-dropdown .nav-link {
	color: var(--sky-color);
	text-decoration: none;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 0
}
.server-types .items .item .details-server .versions-dropdown .nav-link:hover {
	opacity: .7
}
.server-types .items .item .details-server .versions-dropdown .dropdown-menu {
	padding: 20px 15px
}
.server-types .items .item .details-server .versions-dropdown .dropdown-menu li {
	margin-bottom: 10px
}
.server-types .items .item .details-server .versions-dropdown .dropdown-menu li:last-child {
	margin-bottom: 0
}
/*# sourceMappingURL=custom.css.map */